<div>{{title}}</div>

<form action="{{action}}" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{email}}">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <input type="submit" value="Login">
        <button type="submit">{{buttonText}}</button>
    </div>
</form>